@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body { background-color: #101410; color: #E1E4DF; font-family: 'Plus Jakarta Sans', sans-serif; -webkit-font-smoothing: antialiased; }
}

::-webkit-scrollbar { width: 5px; height: 5px; }
::-webkit-scrollbar-track { background: transparent; }
::-webkit-scrollbar-thumb { background: #414942; border-radius: 9999px; }
::-webkit-scrollbar-thumb:hover { background: #546E7A; }
